notebooks/*
pmoired/ATLAS9
.DS_Store
pmoired.egg-info
docs
build
dist
lib
pmoired/.ipynb_checkpoints
pmoired/__pycache__
pmoired/binlens_images
pmoired/binlens_images2
tutorials
TMP
testOrbits
examples
share
pmoired/*~
.ipynb_checkpoints